@media (max-width: 992px) {

    
    .contact{ 
        padding: 110px 0 220px;
 
        img {
            max-width: 400px;
            left: calc(50% - 200px);
            top: 320px;
        }
    }   
}



@media (max-width: 767px) {

    
    .contact{
        padding: 50px 0 250px;
        

        form {
            flex-direction: column;
            align-items: center; 

            input{
                width: 100%;
                margin-bottom: 20px;
            }

            button{
                width: 100%;
            }
        }

        img {
            width: 350px;
            left: calc(50% - 175px);
            top: 500px;
        }
            
    }
    
}


@media (max-width: 500px) {


    .contact{
        padding: 50px 0 150px;

        img {
            width: 250px;
            left: calc(50% - 125px);
            top: 480px;
        }
    }  
}


@media (max-width: 320px) {

    
    .contact{
        
        img {
            width: 180px;
            left: calc(50% - 90px);
        }    
    } 
   
}